<h2 class="page-header pl-2" style="border-left: 3px solid <%= @queue.color %>">
  <%= @queue.name %>
</h2>

<div class="toolbar">
  <%= link_to 'Edit', edit_queue_path(@queue), class: 'button' %>
  <%= link_to 'Add Media', new_media_item_path(queue: @queue), class: 'button' %>
</div>

<h3 class="section-header">Media</h3>
<%= render 'media_items/media_items', media_items: @queue.active_media_items %>
