<nav class="p-4 bg-white border-b-2" data-controller="mobile-navbar">
  <div class="flex items-center justify-between">
    <button class="block md:hidden">
      <i data-feather="menu" data-action="click->mobile-navbar#toggleNavigation"></i>
    </button>
    &nbsp;
    &nbsp;
    <div class="flex items-center">
      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to media_priorities_path do %>
          <i data-feather="settings" class="text-black ml-4"></i>
        <% end %>
        <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'button ml-4' %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>
    </div>
  </div>

  <ul class="navigation hidden"
      data-target="mobile-navbar.navigation">
    <li>
      <%= active_link_to user_profile_path do %>
        <div class="media-item">
          <i data-feather="user" class="inline mr-4"></i>
          Profile
        </div>
      <% end %>
    </li>
    <li>
      <%= active_link_to media_priorities_path do %>
        <div class="media-item">
          <i data-feather="sliders" class="inline mr-4"></i>
          Priorities
        </div>
      <% end %>
    </li>
    <li>
      <%= active_link_to integrations_path do %>
        <div class="media-item">
          <i data-feather="git-branch" class="inline mr-4"></i>
          Integrations
        </div>
      <% end %>
    </li>
    <li>
      <%= link_to 'Back to App', root_url, class: 'button inline-block w-3/4 text-center' %>
    </li>
  </ul>
</nav>
