<nav class="md:hidden p-4 bg-white border-b-2" data-controller="mobile-navbar">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <button class="block mr-4">
        <i class="bi bi-list icon" data-action="click->mobile-navbar#toggleNavigation"></i>
      </button>
      <%= current_user.email %>
    </div>
    <div class="flex items-center">
      <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'ml-4' %>
    </div>
  </div>

  <ul class="navigation hidden"
      data-target="mobile-navbar.navigation">
    <li>
      <%= active_link_to user_profile_path do %>
        <div class="media-item">
          <i class="mr-4 bi bi-person icon"></i>
          Profile
        </div>
      <% end %>
    </li>
    <li>
      <%= active_link_to media_priorities_path do %>
        <div class="media-item">
          <i class="mr-4 bi bi-sliders icon"></i>
          Priorities
        </div>
      <% end %>
    </li>
    <li>
      <%= active_link_to integrations_path do %>
        <div class="media-item">
          <i class="mr-4 bi bi-diagram-3 icon"></i>
          Integrations
        </div>
      <% end %>
    </li>
    <li>
      <%= link_to 'Back to App', root_url, class: 'button primary inline-block w-3/4 text-center' %>
    </li>
  </ul>
</nav>
