<nav class="p-4 bg-white border-b-2" data-controller="mobile-navbar">
  <div class="flex items-center justify-between">
    <button class="block md:hidden">
      <i class="fas fa-bars" data-action="click->mobile-navbar#toggleNavigation"></i>
    </button>
    &nbsp;
    &nbsp;
    <div class="flex items-center">
      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to media_priorities_path do %>
          <i class="fas fa-cog text-black ml-4"></i>
        <% end %>
        <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'button ml-4' %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>
    </div>
  </div>

  <ul class="navigation hidden"
      data-target="mobile-navbar.navigation">
    <li>
      <%= active_link_to media_priorities_path do %>
        <i class="fas fa-sliders-h mr-4"></i>
        Priorities
      <% end %>
    </li>
    <li>
      <%= active_link_to integrations_path do %>
        <i class="fas fa-code-branch mr-4"></i>
        Integrations
      <% end %>
    </li>
    <li>
      <%= link_to 'Back to App', root_url, class: 'button inline-block w-3/4 text-center' %>
    </li>
  </ul>
</nav>
