<%= form_for :session, url: session_path do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', placeholder: 'Email' %>

  <%= form.label :password %>
  <%= form.password_field :password, placeholder: 'Password' %>

  <div class="flex items-center justify-between">
    <%= form.submit class: 'button' %>

    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
