<nav class="md:hidden p-4 bg-white border-b-2" data-controller="mobile-navbar">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <button class="block mr-4">
        <i data-feather="menu" data-action="click->mobile-navbar#toggleNavigation"></i>
      </button>
      <%= current_user.email %>
    </div>
    <div class="flex items-center">
      <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'button ml-4' %>
    </div>
  </div>

  <ul class="navigation hidden"
      data-target="mobile-navbar.navigation">
    <li>
      <%= active_link_to queues_path, root_path: true do %>
        <div class="media-item">
          <i data-feather="inbox" class="mr-4"></i>
          Queues
        </div>
      <% end %>
    </li>
    <li>
      <%= active_link_to media_items_path do %>
        <div class="media-item">
          <i data-feather="play" class="mr-4"></i>
          Media
        </div>
      <% end %>
    </li>
    <li>
      <%= link_to user_profile_path do %>
        <div class="media-item">
          <i data-feather="settings" class="text-black mr-4"></i>
          Settings
        </div>
      <% end %>
    </li>
  </ul>
</nav>
