<div class="hidden md:flex flex-col justify-between fixed pin-t pin-b h-full
            border-r shadow-inner bg-white w-2/12" style="min-width: 200px;">
  <div>
    <div class="text-center pt-4">
      <h1 class="text-2xl flex justify-center">
        <%= link_to root_path, class: 'text-black hover:text-black' do %>
          <%= image_tag 'icon.png', width: 80, alt: 'MCQ Icon' %>
        <% end %>
      </h1>
      <span class="text-muted"><%= current_user.email %></span>

      <%= turbo_link_to 'Add Media', new_media_item_path, class: 'primary button inline-block w-3/4 mt-4' %>
    </div>

    <div class="p-4 mt-6">
      <ul class="navigation">
        <%= render 'layouts/shared/navigation_items' %>
      </ul>
    </div>
  </div>

  <div class="text-center pb-4">
    <%= link_to 'Sign out', sign_out_path, method: :delete %>
  </div>
</div>
