<div class="card" data-controller="inline-edit edit-note" data-note-id="<%= note.id %>">
  <div class="card-header">
    <span class="card-title">
      <div data-target="inline-edit.editor">
        <%= text_field_tag :title,
                           note.title,
                           placeholder: 'Title...',
                           data: { target: 'edit-note.titleInput'} %>
      </div>
      <div data-target="inline-edit.display edit-note.title">
        <%= note.title %>
      </div>
    </span>

    <span class="card-actions">
      <button type="button"
              class="card-action"
              data-target="inline-edit.display"
              data-action="inline-edit#toggleEditMode">
        <i class="far fa-edit text-black"></i>
      </button>
      <button type="button"
              class="card-action"
              data-target="inline-edit.editor"
              data-action="inline-edit#toggleDisplayMode edit-note#save">
        <i class="far fa-save text-black"></i>
      </button>
      <%= button_to note_path(note, format: :js),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'Are you sure?' },
                    class: 'card-action' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </span>
  </div>
  <div class="card-content">
    <div data-target="inline-edit.editor">
      <rich-editor content="<%= note.content %>"></rich-editor>
    </div>
    <div data-target="inline-edit.display edit-note.content">
      <%= raw note.content %>
    </div>
  </div>
</div>
