<div class="card" data-controller="inline-edit edit-note" data-note-id="<%= note.id %>">
  <div class="card-header">
    <span class="card-title">
      <div data-target="inline-edit.editor">
        <%= text_field_tag :title,
                           note.title,
                           placeholder: 'Title...',
                           class: 'small',
                           data: { target: 'edit-note.titleInput' } %>
      </div>
      <div data-target="inline-edit.display edit-note.title">
        <%= note.title %>
      </div>
    </span>

    <span class="card-actions">
      <button type="button"
              class="card-action"
              data-target="inline-edit.display"
              data-action="inline-edit#toggleEditMode">
        <i data-feather="edit" class="w-4 h-4"></i>
      </button>
      <button type="button"
              class="card-action"
              data-target="inline-edit.editor"
              data-action="inline-edit#toggleDisplayMode edit-note#save">
        <i data-feather="save" class="w-4 h-4"></i>
      </button>
      <%= button_to note_path(note, format: :js),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'Are you sure?' },
                    class: 'card-action' do %>
        <i data-feather="trash-2" class="w-4 h-4 ml-1"></i>
      <% end %>
    </span>
  </div>
  <div class="card-content">
    <div data-target="inline-edit.editor">
      <div data-controller="rich-editor"
           data-rich-editor-input-name="media_note[content]"
           data-rich-editor-content="<%= note.content %>"
           data-rich-editor-input-targets="edit-note.contentInput"></div>
    </div>
    <div class="rich-content" data-target="inline-edit.display edit-note.content">
      <%= raw note.content %>
    </div>
  </div>
</div>
