<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% links.each do |link| %>
      <tr>
        <td>
          <%= external_link_to link.title_or_url, link.url %>
          <div class="text-muted"><%= link.url %></div>
        </td>
        <td><%= link.created_at %></td>
        <td class="actions">
          <%= link_to 'View', link_path(link) %>
          <%= link_to 'Edit', edit_link_path(link) %>
          <%= link_to 'Delete', link_path(link), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
