<div class="card">
  <div class="card-header">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-content">
    <p class="mb-2"><%= t(".description") %></p>

    <%= form_for :password_reset,
          url: user_password_path(@user, token: @user.confirmation_token),
          html: { method: :put } do |form| %>

      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Password' %>

      <%= form.submit class: 'button primary w-full' %>
    <% end %>
  </div>
</div>
