<div class="card">
  <div class="card-header">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-content">
    <p class="mb-2"><%= t(".description") %></p>

    <%= form_for :password, url: passwords_path do |form| %>
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email', placeholder: 'Email' %>

      <%= form.submit class: 'button' %>
    <% end %>
  </div>
</div>
