<%= form_with url: search_path,
              local: true,
              method: :get,
              class: 'mb-4' do |f| %>

  <div class="toolbar">
    <div class="select-wrapper">
      <%= f.select :difficulty, options_for_media_item_difficulty, {}, class: 'w-auto' %>
    </div>
    <div class="select-wrapper">
      <%= f.select :priority, options_for_media_item_priority(priorities), {}, class: 'w-auto' %>
    </div>
    <div class="select-wrapper">
      <%= f.select :type,
                   select_options(
                     MediaItem::MEDIA_TYPES,
                     params[:type],
                     empty_value: 'Select a type'
                   ),
                   {},
                   class: 'w-auto' %>
    </div>
    <div class="select-wrapper">
      <%= f.select :state, state_select_options, {}, class: 'w-auto' %>
    </div>
    <%= f.text_field :search,
                     placeholder: 'Search...',
                     value: params[:search],
                     autocomplete: :off %>

    <%= f.submit 'Filter', class: 'button primary' %>
  </div>
<% end %>
