<%= form_with model: media_item, url: form_url, scope: :media_item, data: { turbo: false } do |f| %>
  <label>Media Type</label>
  <div data-controller="toggle-buttons"
       data-toggle-buttons-field-name="media_item[type]"
       class="mb-4 toolbar">
    <span class="button toggle-button <%= toggle_class_for_type media_item, 'Article' %>"
          data-target="toggle-buttons.button"
          data-value="Article">
      Article
    </span>

    <span class="button toggle-button <%= toggle_class_for_type media_item, 'Video' %>"
          data-target="toggle-buttons.button"
          data-value="Video">
      Video
    </span>
  </div>

  <div class="row">
    <div class="column md8">
      <%= f.label :url %>
      <%= f.text_field :url, placeholder: 'https://...' %>

      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, placeholder: 'Title (Optional)' %>

      <%= f.submit submit_button_text, class: 'primary button', data: { testid: 'submit-media-item' } %>
    </div>

    <div class="column md4">
      <%= f.label :media_queue_id %>
      <div class="select-wrapper">
        <%= f.select :media_queue_id,
          options_from_collection_for_select(current_user.queues, :id, :name, queue_id) %>
      </div>

      <%= f.label :media_priority_id %>

      <div class="select-wrapper">
        <%= f.select :media_priority_id,
          options_from_collection_for_select(
            current_user.media_priorities,
            :id,
            :title,
            @media_item.media_priority_id
          ) %>
      </div>

      <%= f.label :consumption_difficulty %>
      <div class="select-wrapper">
        <%= f.select :consumption_difficulty,
          select_options(
            MediaItem.consumption_difficulties,
            @media_item.consumption_difficulty,
            empty_value: 'Select a difficulty'
          ) %>
      </div>
    </div>
  </div>
<% end %>
