<div class="table-container">
  <table>
    <thead>
      <tr>
        <th class="text-lg">
          <%= check_box_tag :select_all_media_items,
                            'all',
                            false,
                            data: {
                              action: 'change->bulk-actions#allItemsChanged'
                            } %>
        </th>
        <% not_within_path('/queues') do %>
          <th></th>
        <% end %>
        <th>Media</th>
        <% not_within_path('/queues') do %>
          <th>Queue</th>
        <% end %>
        <th>Priority</th>
        <th>Consumption Difficulty</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% media_items.each do |media_item| %>
        <tr>
          <td>
            <%= check_box_tag :select_media_item,
                              media_item.id,
                              false,
                              data: {
                                target: 'bulk-actions.item',
                                action: 'change->bulk-actions#itemChanged'
                              } %>
          </td>
          <% not_within_path('/queues') do %>
            <td class="pr-0"><%= render 'media_icon', media_item: media_item %></td>
          <% end %>
          <td>
            <%= link_to truncate(media_item.title_or_url, length: 50),
                        media_item_path(media_item) %>
            <%= external_link_to truncate(media_item.url, length: 50),
                                media_item.url,
                                class: 'text-muted block' %>
          </td>
          <% not_within_path('/queues') do %>
            <td><%= media_item.queue.name %></td>
          <% end %>
          <td><%= media_item.priority.try(:title) || '-' %></td>
          <td>
            <% if !media_item.consumption_difficulty && !media_item.estimated_consumption_time %>
              -
            <% end %>
            <% if media_item.consumption_difficulty %>
              <div>
                <%= render 'media_items/consumption_difficulty',
                          consumption_difficulty: media_item.consumption_difficulty %>
              </div>
            <% end %>
            <% if media_item.estimated_consumption_time %>
              <div class="small media-item text-muted">
                <i class="far fa-clock fa-lg"></i>
                <%= pluralize media_item.estimated_consumption_time, 'minute' %>
              </div>
            <% end %>
          </td>
          <td><%= time_ago_in_words media_item.created_at %> ago</td>
          <td class="actions">
            <%= link_to 'Edit', edit_media_item_path(media_item) %>
            <%= link_to 'Delete', media_item_path(media_item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
