<div class="table-container">
  <table>
    <thead>
      <tr>
        <th class="text-lg">
          <%= check_box_tag :select_all_media_items,
                            'all',
                            false,
                            data: {
                              action: 'change->bulk-actions#allItemsChanged'
                            } %>
        </th>
        <th class="pl-0">Media</th>
        <% if !within_path?('/queues') %>
          <th>Queue</th>
        <% end %>
        <th>Priority</th>
        <th>Consumption Difficulty</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% media_items.each do |media_item| %>
        <tr>
          <td>
            <%= check_box_tag :select_media_item,
                              media_item.id,
                              false,
                              data: {
                                target: 'bulk-actions.item',
                                action: 'change->bulk-actions#itemChanged'
                              } %>
          </td>
          <td class="pl-0">
            <div class="media-item">
              <i data-feather="<%= media_icon(media_item) %>" class="text-muted"></i>
              <div class="media-text">
                <%= link_to truncate(media_item.title_or_url, length: 50),
                            media_item_path(media_item),
                            class: media_item.complete? ? '' : 'font-bold',
                            data: { tooltip: media_item.title_or_url } %>
                <%= external_link_to truncate(media_item.url, length: 50),
                                     media_item.url,
                                     class: 'text-muted block' %>
              </div>
            </div>
          </td>
          <% if !within_path?('/queues') %>
            <td><%= media_item.queue.name %></td>
          <% end %>
          <td><%= media_item.priority.try(:title) || '-' %></td>
          <td>
            <% if !media_item.consumption_difficulty && !media_item.estimated_consumption_time && !media_item.snoozed? %>
              -
            <% end %>
            <% if media_item.consumption_difficulty %>
              <div>
                <div class="small media-item text-muted">
                  <i data-feather="sliders" class="h-5 w-5"></i>
                  <span class="<%= consumption_difficulty_classes(media_item.consumption_difficulty) %>">
                    <%= media_item.consumption_difficulty.capitalize %>
                  </span>
                </div>
              </div>
            <% end %>
            <% if media_item.estimated_consumption_time %>
              <div class="small media-item text-muted mt-1">
                <i data-feather="watch" class="h-5 w-5"></i>
                <%= pluralize media_item.estimated_consumption_time, 'minute' %>
              </div>
            <% end %>
            <% if media_item.snoozed? %>
              <div class="small media-item text-muted mt-1"
                   data-tippy-content="Snoozed until <%= media_item.snooze_until.to_date %>">
                <i data-feather="clock" class="w-5 h-5"></i>
                <%= media_item.snooze_until.to_date %>
              </div>
            <% end %>
          </td>
          <td><%= time_ago_in_words media_item.created_at %> ago</td>
          <td class="actions">
            <%= link_to 'Edit', edit_media_item_path(media_item) %>
            <%= link_to 'Delete', media_item_path(media_item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate media_items %>
