<table>
  <thead>
    <tr>
      <th>Media</th>
      <th>Queue</th>
      <th>Priority</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% media_items.each do |media_item| %>
      <tr>
        <td>
          <span class="text-lg">
            <%= link_to truncate(media_item.title_or_url, length: 75), media_item_path(media_item) %>
          </span>
          <%= external_link_to truncate(media_item.url, length: 75), media_item.url,
              class: 'text-muted block' %>
        </td>
        <td><%= media_item.queue.name %></td>
        <td><%= media_item.priority.try(:title) || 'None' %></td>
        <td><%= time_ago_in_words media_item.created_at %> ago</td>
        <td class="actions">
          <%= link_to 'Edit', edit_media_item_path(media_item) %>
          <%= link_to 'Delete', media_item_path(media_item),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
