<div data-controller="bulk-actions">
  <div class="heading">
    <h2 class="page-header">Media</h2>

    <div class="actions">
      <%= link_to 'Add Media', new_media_item_path, class: 'primary button' %>

      <% if current_user.pocket_integration.present? %>
        <%= link_to 'Synchronize Pocket',
                    synchronize_integrations_path(integration_id: current_user.pocket_integration.id),
                    class: 'button',
                    method: :post %>
      <% end %>
    </div>
  </div>

  <div class="toolbar mb-4">
    <%= render 'bulk_actions', queues: @presenter.queues %>
  </div>

  <%= render 'filters', search_path: media_items_path, priorities: @presenter.filter_priorities %>

  <%= render 'media_items', media_items: @presenter.media_items %>
</div>
