<div class="row h-screen"
     data-controller="bulk-actions detail-pane"
     data-action="turbo:before-fetch-response@document->detail-pane#displayContent"
     data-detail-pane-selected-class="border-l-2 border-l-indigo-500">
  <div class="column md4 mt-4 pr-6">
    <%# Heading %>
    <div class="heading">
      <% if current_queue %>
        <h2 class="page-header pl-2" style="border-left: 3px solid <%= current_queue.color %>">
          <%= current_queue.name %>
        </h2>
      <% else %>
        <h2 class="page-header">Media</h2>
      <% end %>

      <%# Secondary actions %>
      <% if current_queue || current_user.pocket_integration.present? %>
        <span data-controller="tooltip" data-tooltip-align="right">
          <button type="button" class="button icon-only" data-action="tooltip#show" data-testid="page-overflow-btn">
            <i class="bi bi-three-dots-vertical icon"></i>
          </button>
          <template data-target="tooltip.template">
            <ul class="menu">
              <% if current_queue %>
                <li><%= turbo_link_to 'Edit Queue', edit_queue_path(current_queue), class: 'menu-item' %></li>
                <li>
                  <%= link_to 'Delete Queue',
                              queue_path(current_queue),
                              class: 'menu-item',
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
              <% if current_user.pocket_integration.present? %>
                <li>
                  <%= link_to 'Synchronize Pocket',
                              synchronize_integrations_path(integration_id: current_user.pocket_integration.id),
                              class: 'menu-item',
                              method: :post %>
                </li>
              <% end %>
            </ul>
          </template>
        </span>
      <% end %>
    </div>

    <%# Top-level actions %>
    <%= turbo_link_to 'Add Media',
                      new_media_item_path(queue: current_queue),
                      class: 'primary button',
                      data: { testid: 'add-media-item' } %>

    <%= render 'media_items/_media_items/filters',
               search_path: media_items_path,
               priorities: @presenter.filter_priorities %>

    <% if @presenter.media_items.present? %>
      <div class="relative">
        <%= render 'media_items', presenter: @presenter %>
      </div>
    <% else %>
      <%= @presenter.no_media_items_message %>
    <% end %>
  </div>

  <div class="column md8 border-l pt-8 pl-4 relative">
    <div data-target="detail-pane.loading" class="fully-centered hidden">
      <%= image_tag 'icons/loader', class: 'xl hoverable svg icon loader' %>
      <span class="text">Loading...</span>
    </div>

    <div data-target="detail-pane.content">
      <%= turbo_frame_tag 'media-item-pane' do %>
        <% if @media_item %>
          <%= render 'media_items/media_item', media_item: @media_item %>
        <% else %>
          <div class="flex justify-center items-center h-full">
            <span class="text-lg text-muted">Select a media item</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
