<h2 class="page-header" title="<%= @media_item.url %>"><%= @media_item.title_or_url %></h1>
<div class="media-item -mt-4 text-muted">
  <i class="fas fa-inbox"></i>
  <%= link_to @media_item.queue.name, queue_path(@media_item.queue), class: 'text-muted' %>
</div>

<div class="toolbar mt-4">
  <%= link_to 'Edit', edit_media_item_path(@media_item), class: 'button' %>
  <%= link_to 'Open Media', @media_item.url, class: 'button' %>
  <%= button_tag 'Open Viewer', class: 'button', data: { url_viewer: '#url-viewer' } %>

  <% unless @media_item.complete? %>
    <%= button_to 'Mark Completed', complete_media_item_url(@media_item),
      class: 'button',
      method: :post %>
  <% end %>
</div>

<div id="url-viewer" style="width: 0;">
  <url-viewer url="<%= @media_item.url %>"></url-viewer>
</div>

<%= javascript_pack_tag 'url_viewer' %>
<%= stylesheet_pack_tag 'url_viewer' %>

<script>
  document.querySelector('[data-url-viewer]').addEventListener('click', function(e) {
    var viewerSelector = e.target.dataset.urlViewer;
    var viewer         = document.querySelector(viewerSelector);

    viewer.style.width = '50%';
  });
</script>
