<h2 class="page-header">Integrations</h2>

<h3 class="section-header">New Integration</h3>

<div class="row">
  <div class="column m4">
    <div class="card">
      <div class="card-content opacity-50 hover:opacity-100">
        <%= link_to new_integration_path(service: 'Pocket'), class: 'text-black hover:text-black' do %>
          <div class="media-item">
            <i class="<%= integration_icon_class('Pocket') %> fa-6x"></i>
            <div class="text">
              <div class="text-2xl">Pocket</div>
              <%= link_to 'Homepage', 'https://getpocket.com/' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3 class="section-header">Your Integrations</h3>

<% if @integrations.present? %>
  <table>
    <thead>
      <tr>
        <th>Service</th>
        <th>Username</th>
        <th>Connected</th>
      </tr>
    </thead>
    <tbody>
      <% @integrations.each do |integration| %>
        <tr>
          <td>
            <div class="media-item">
              <i class="<%= integration_icon_class(integration.service) %>"></i>
              <%= integration.service %>
            </div>
          </td>
          <td><%= integration.username %></td>
          <td><%= time_ago_in_words integration.created_at %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  You don't have any integrations yet.
<% end %>
