<title>Mcq</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<script src="https://kit.fontawesome.com/0c8ce70a83.js" crossorigin="anonymous"></script>
