<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body>
    <div class="flex relative w-screen h-screen">
      <div class="w-2/12">
        <%= render 'layouts/shared/sidebar' %>
      </div>
      <div class="w-10/12">
        <%= render 'layouts/shared/header' %>

        <main class="py-8 px-20">
          <% flash.each do |key, value| %>
            <div class="alert <%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
