<!DOCTYPE html>
<html>
  <head>
    <title>Mcq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <script src="https://kit.fontawesome.com/0c8ce70a83.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="flex relative w-screen h-screen">
      <div class="w-2/12">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="w-10/12">
        <%= render 'layouts/header' %>

        <main class="py-8 px-20">
          <% flash.each do |key, value| %>
            <div class="alert <%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
